.welcome {
  background: #330842;
  color: white;
}
.welcomeContainer {
  display: flex;
  height: 80%;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form {
  left: 50%;
  top: 40%;
  height: 50%;
  width: 90%;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

button {
  width: 97%;
}
